extends layout

block content
    style.
        body {
            background-image: url('../images/background_copy.jpg');
            background-size: 100% 380%; 
        }

    if (!user)
        a.login-link(href="/login" ) Login
        br
        a.register-link(href="/register" ) Register
    if (user)
        p You are currently logged in as #{user.username} !
        a.exoticGem-link(href="/exoticGem" ) Take me to Exotic Gems
        br
        a.logout-link(href="/logout" ) Logout
